/var/
/vendor/

/composer.lock

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/framework-bundle ###
/config/reference.php
/tests/Application/config/reference.php
###< symfony/framework-bundle ###
