parameters:
    level: max
    paths:
        - src/
        - tests/
    excludePaths:
        - tests/Application/
        - src/DependencyInjection/Configuration.php
        - src/Filesystem/Gaufrette/
        - tests/Unit/Filesystem/Gaufrette/
